<app-admin></app-admin>
<router-outlet></router-outlet>

<div class="container col-md-4 offset-4 mt-5">

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Hotel Id</th>
                <th>Hotel Name</th>
                <th>Hotel Location</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Update hotel</th>
                <th>Delete hotel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>