<div class="wrapper col-md-3 float-left">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Panel</h3>
        </div>

        <ul class="list-unstyled components">
            
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Hotels</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/addhotel">Add Hotel</a>
                    </li>
                    <li>
                        <a routerLink="/viewhotel">View Hotel</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >User Details</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="/viewuser">View User</a>
                    </li>
                   
                </ul>
            </li>
            <li>
                <a routerLink="/contactus">Contact Us</a>
            </li>
        </ul>
    </nav>

</div>
